{% load static %}
<!DOCTYPE html>
<html lang="zh">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/css/mdui.min.css"
        integrity="sha384-2PJ2u4NYg6jCNNpv3i1hK9AoAqODy6CdiC+gYiL2DVx+ku5wzJMFNdE3RoWfBIRP" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'students/css/student_list.css'%}">

    <script defer src="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js"
        integrity="sha384-aB8rnkAu/GBsQ1q6dwTySnlrrbhqDwrDnpVHR2Wgm8pWLbwUnzDcIROX3VvCbaK+" crossorigin="anonymous">
    </script>
    <script type="module" src="{% static 'students/js/student_list.js'%}"></script>

</head>

<body class="mdui-theme-primary-indigo mdui-theme-accent-pink">

    <main class="mdui-container">
        <div is="activator-div" id="table-activator" class="mdui-row mdui-table-fluid" items-selector="tbody tr"
            active-class-name="mdui-color-theme-accent" activate-on-click>
            <table class="mdui-table mdui-table-hoverable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>姓名</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in students %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td>{{ record.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mdui-row mdui-m-t-1">
            <button class="mdui-btn mdui-ripple mdui-float-right"
                mdui-dialog="{ target: '#submit-edit-request-dialog' }">编辑</button>
            <button class="mdui-btn mdui-ripple mdui-float-right"
                mdui-dialog="{ target: '#start-selection-dialog' }">天选之子</button>
        </div>
    </main>

    <div id="start-selection-dialog" class="mdui-dialog thechosen">
        <div class="mdui-dialog-title">天选之子</div>
        <div class="mdui-dialog-content mdui-p-l-4 mdui-p-r-4">
            <label class="mdui-slider mdui-slider-discrete mdui-m-t-4">
                <input type="range" step="1" min="0" max="{{ students.count }}" />
            </label>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-confirm>选定</button>
        </div>
    </div>

    <div id="submit-edit-request-dialog" class="mdui-dialog thechosen">
        <div class="mdui-dialog-title">编辑申请</div>
        <div class="mdui-dialog-content mdui-container">
            <form>
                {% csrf_token %}
                <div class="mdui-row">
                    <div class="mdui-col-xs-4 mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label">目标ID</label>
                        <input is="int-input" class="mdui-textfield-input" name="target_id" type="number" min="0"
                            required />
                    </div>
                    <div class="mdui-col mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label">目标值</label>
                        <input class="mdui-textfield-input" name="target_value" type="text" maxlength="4" />
                    </div>
                </div>
                <div class="mdui-row">
                    <div class="mdui-col mdui-textfield mdui-textfield-floating-label">
                        <label class="mdui-textfield-label">备注</label>
                        <input class="mdui-textfield-input" name="remark" type="text" maxlength="80" />
                    </div>
                </div>
                <div class="mdui-row">
                    <mdui-panel></mdui-panel>
                </div>
            </form>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-confirm>提交</button>
        </div>
    </div>
</body>

</html>