@import url(/static/public/css/initialize.css);


html,
body,
main {
    height: 100%;
}

#table-activator {
    height: 94%;
    overflow: scroll;
}

#submit-edit-request-dialog {
    min-height: 80%;
}