{% load static %}
<!DOCTYPE html>
<html lang="zh">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/css/mdui.min.css"
        integrity="sha384-2PJ2u4NYg6jCNNpv3i1hK9AoAqODy6CdiC+gYiL2DVx+ku5wzJMFNdE3RoWfBIRP" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'sysmgr/css/stulist.css' %}">

    <script defer src="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js"
        integrity="sha384-aB8rnkAu/GBsQ1q6dwTySnlrrbhqDwrDnpVHR2Wgm8pWLbwUnzDcIROX3VvCbaK+" crossorigin="anonymous">
    </script>
    <script defer type="module" src="{% static 'sysmgr/js/stulist.js' %}"></script>

</head>

<body class="mdui-theme-primary-indigo mdui-theme-accent-pink ">

    <main class="mdui-container">

        <div class="mdui-row mdui-table-fluid">
            <table is="data-table" class="mdui-table mdui-table-hoverable">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="mdui-row">
            <div class="mdui-col-xs-4 mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">学号</label>
                <input class="mdui-textfield-input add" type="number" />
            </div>
            <div class="mdui-col-xs mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">姓名</label>
                <input class="mdui-textfield-input add" type="text" />
            </div>
        </div>

        <div class="mdui-row">
            <div class="mdui-col">
                <button class="mdui-color-theme mdui-btn mdui-btn-block mdui-ripple add">添加</button>
            </div>
        </div>

        <div class="mdui-row">
            <div class="mdui-col mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">学号</label>
                <input class="mdui-textfield-input del" type="number" />
            </div>
        </div>

        <div class="mdui-row">
            <div class="mdui-col">
                <button class="mdui-color-theme-accent mdui-btn mdui-btn-block mdui-ripple del">删除</button>
            </div>
        </div>

    </main>

</body>

</html>