@import url(/static/css/initialize.css);
@import url(/static/css/components.css);


/* Full Screen */
    body {
        height: calc(100% - 64px);
    }

    html,
    main {
        height: 100%;
        overflow: hidden;
    }

        iframe {
            display: block;
            width: 100%;
            height: 100%;
        }