{% load static %}
<!DOCTYPE html>
<html lang="zh">

<head>

    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/css/mdui.min.css"
        integrity="sha384-2PJ2u4NYg6jCNNpv3i1hK9AoAqODy6CdiC+gYiL2DVx+ku5wzJMFNdE3RoWfBIRP" crossorigin="anonymous" />
    <script defer src="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js"
        integrity="sha384-aB8rnkAu/GBsQ1q6dwTySnlrrbhqDwrDnpVHR2Wgm8pWLbwUnzDcIROX3VvCbaK+" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="{% static 'css/initialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">

    {% block statics %}
    {% endblock %}

</head>

{% block body %}
{% endblock %}

</html>