.mdui-iframe-wrap {
    position: relative;
}

    .mdui-iframe-wrap > iframe[is="mdui-iframe"] {
        display: block;
        width: 100%;
        height: 100%;
    }

    .mdui-iframe-wrap > .mdui-iframe-overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: white;
    }
        .mdui-iframe-wrap > .mdui-iframe-overlay.hidden {
            opacity: 0;
            transition: opacity .5s linear;
        }